*/prg_serv
*/prg_clnt
*.o
*.swp
*a.out

# Ignore all the file in test_trans_files except file_orig.txt
test/transfer_files/*
!test/transfer_files/file_orig.txt

# Ignore a content of this directory as it can have "no permissions" files
test/file_types/*
