bin/*
obj/*
*.swp
*a.out

# Ignore all files in tst/file_trans dir except file_orig.txt
tst/file_trans/*
!tst/file_trans/file_orig.txt

# Ignore a content of this directory as it can have "no permissions" files
tst/file_types/*
